<app-search
  (iata)="doSearch($event)">
</app-search>

<h1>
  OpenFlight listview <span *ngIf="iataCode">(departure from: {{iataCode}})</span>
</h1>

<button
  type="submit"
  class="c-button"
  tabindex="0"
  #clean
  >
  STOP
</button>

<app-spinner
  [isLoading]="isLoading"
  >
</app-spinner>

<ul class="c-list-destinations">
  <li
    class="c-list-destinations__item"
    *ngFor="let item of items"
    >

    <app-list-price
      [fare]="item.fare"
      >
    </app-list-price>

    <strong>{{item.destination.city}}</strong>

    ({{item.destination.iataId}})

  </li>
</ul>
