@font-face {
  font-family: ExcellenceInMotion;
  font-style: normal;
  font-weight: bold;
  src: url('styles/fonts/ExcellenceInMotionScreen-Bold.woff') format('woff');
}

@font-face {
  font-family: ExcellenceInMotion;
  font-style: normal;
  font-weight: normal;
  src: url('styles/fonts/ExcellenceInMotionScreen-Regular.woff') format('woff');
}
