body {
  margin: 0;
  padding: 0;
  background: $primary;
  color: $white;
  font-family: ExcellenceInMotion, 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5;
}

h1,
h2,
h3, {
  margin: 0 0 12px;
  padding: 0;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 120%;
}

p {
  margin: 0 0 1em;
}

a {
  color: $black;

  &:focus {
    color: $white;
  }
}

@media print {
  body {
    color: $black;
  }
}
