:root {
  //
}

$search_width: 300px;

.c-search {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: $search_width;
  height: 52px;
  margin: 6px;
  z-index: 10;

  left: -($search_width + 10);
  transition: left .4s;

  /*
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  */

  :host-context(.is-open) & {
    left: 0;
  }

  &__input {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-size: 20px;
    border: 0;
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: -50px;
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;

    span {
      display: block;
      width: 30px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: #000;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

    }

    span:first-child {
      transform-origin: 0% 0%;
    }

    span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

  }

}
